{% extends 'base.html' %}
{% block title %}My Resume{% endblock title %}
{% block main %}
<main id="about">
    <h1 class="md-heading">
        About <span class="text-secondary">Me</span>
    </h1>
    <h2 class="sm-heading">The Short Version</h2>


    <div class="about-info">
        
        <div class="bio">
            <h3 class="text-secondary">BIO</h3>
            <p>
            Hey, my name is Kristian Møller Schmidt. I live in Copenhagen,
            Denmark. I have a university degree in mathematics, and I'm self-taught in
            computer science, machine learning and software development in general. 
            Check out some of my projects, and feel free to send my an email
            if you'd like to work together.
            </p>
        </div>
    </div>

    <div class="about-info">
        <div class="bio">
            <h3 class="text-secondary">TECHNICAL SKILLS</h3>
            <ul>
                <li>Python, PHP, SQL, HTML5, CSS, JavaScript</li>
                <li>Numpy, Matplotlib, Pytorch, Tensorflow, Keras, Scikit-learn</li>
                <li>VS Code, Atom, Jupytor Notebook</li>
            </ul>
        </div>
    </div>

    <div class="about-info">
        <div class="bio">
            <h3 class="text-secondary">COURSES & TRAINING</h3>
            <p>
            453it95igi59
            </p>
        </div>
    </div>


    <div class="about-info">
        <div class="bio">
            <h3 class="text-secondary">FORMAL EDUCATION</h3>
            <p>
          
            </p>
        </div>
    </div>

</main>
{% endblock main %}
